<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Reference WIF -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="STS">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="STS">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
        <ws2007FederationHttpBinding>
            <binding name="WS2007FederationHttpBinding_ISampleServiceOne">
                <security mode="TransportWithMessageCredential">
                    <message establishSecurityContext="false" issuedKeyType="BearerKey">
                        <tokenRequestParameters>
                            <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                            </trust:SecondaryParameters>
                        </tokenRequestParameters>
                    </message>
                </security>
            </binding>
            <binding name="WS2007FederationHttpBinding_ISampleServiceTwo">
                <security mode="TransportWithMessageCredential">
                    <message establishSecurityContext="false" issuedKeyType="BearerKey">
                        <tokenRequestParameters>
                            <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                            </trust:SecondaryParameters>
                        </tokenRequestParameters>
                    </message>
                </security>
            </binding>
            <binding name="WS2007FederationHttpBinding_ICalculator">
                <security mode="TransportWithMessageCredential">
                    <message establishSecurityContext="false" issuedKeyType="BearerKey">
                        <tokenRequestParameters>
                            <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                            </trust:SecondaryParameters>
                        </tokenRequestParameters>
                    </message>
                </security>
            </binding>
        </ws2007FederationHttpBinding>
  
        <ws2007HttpBinding>
            <binding name="WS2007HttpBinding_IWSTrust13Sync">
                <security mode="TransportWithMessageCredential">
                    <transport clientCredentialType="None" />
                    <message clientCredentialType="UserName" algorithmSuite="Default"
                        establishSecurityContext="false" />
                </security>
            </binding>
            <binding name="WS2007HttpBinding_IWSTrust13_Saml20Sync">
                <security mode="TransportWithMessageCredential">
                    <transport clientCredentialType="None" />
                    <message clientCredentialType="UserName" algorithmSuite="Default"
                        establishSecurityContext="false" />
                </security>
            </binding>
        </ws2007HttpBinding>
    </bindings>
    <client>
        <endpoint address="https://localhost.fiddler:44302/STSService.svc"
            behaviorConfiguration="STS" binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IWSTrust13Sync"
            contract="System.ServiceModel.Security.IWSTrustChannelContract"
            name="WS2007HttpBinding_IWSTrust13Sync" />
        <endpoint address="https://localhost.fiddler:44302/Saml20STSService.svc"
            behaviorConfiguration="STS" binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IWSTrust13_Saml20Sync"
            contract="System.ServiceModel.Security.IWSTrustChannelContract"
            name="WS2007HttpBinding_IWSTrust13_Saml20Sync" />
        <endpoint address="https://localhost.fiddler:44305/SampleService.svc"
            binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_ISampleServiceOne"
            contract="SampleServiceOne.ISampleServiceOne" name="WS2007FederationHttpBinding_ISampleServiceOne" />
        <endpoint address="https://localhost.fiddler:44304/SampleService.svc"
            binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_ISampleServiceTwo"
            contract="SampleServiceTwo.ISampleServiceTwo" name="WS2007FederationHttpBinding_ISampleServiceTwo" />
        <endpoint address="https://localhost.fiddler:44360/Calculator.svc"
            binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_ICalculator"
            contract="CalculatorService.ICalculator" name="WS2007FederationHttpBinding_ICalculator" />
       
    </client>
  </system.serviceModel>
  <!-- Identity Model configuration. -->
  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>        
        <securityTokenHandlerConfiguration saveBootstrapContext="true">
          <audienceUris mode="Never"></audienceUris>
          <certificateValidation certificateValidationMode="None" />
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
      <audienceUris>
        <add value="https://RelyingParty/*" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <!-- Issuer thumbprint. -->
          <add thumbprint="cdf97a2b88f4cc367b5788f4e0e9ab43594d6541"
               name="Localhost" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
</configuration>